{% load i18n %}
{% if AVAILABLE_CONTEXTS %}
    <div class="row mr-auto context-switcher-wrapper">
        {% csrf_token %}
        <div class="col-md-3 col-xs-12">
            <select class="context-switching-select form-control" data-url="{% url 'switch_context' %}">
                <option value="" {% if not request.user.chosen_context_id %}selected{% endif %}>Все контексты</option>
                {% for cid, title in AVAILABLE_CONTEXTS %}
                    <option value="{{ cid }}" {% if request.user.chosen_context_id == cid %}selected{% endif %}>{{ title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-md-3 col-xs-12">
            <a href="{% url 'index' %}">
                <button class="btn btn-light font-red">{% trans "На главную uploads" %}</button>
            </a>
        </div>
    </div>
{% endif %}
