<div class="row {% if activity_filter %}mt-10{% endif %}">
    <div class="col">
        <div>
            <form class="form-inline">
                <input type="search" id="search-events" placeholder="Найти" class="form-control" {% if search %}value="{{ search }}{% endif %}">
                <input type="{% if date_min %}date{% else %}text{% endif %}" id="choose-date-min" class="form-control events-date-choser" placeholder="Дата: от">
                <input type="{% if date_max %}date{% else %}text{% endif %}" id="choose-date-max" class="form-control events-date-choser" placeholder="Дата: до">
                <button class="btn btn-primary events-filter-btn" id="btn-filter-events">
                    <i class="glyphicon glyphicon-ok"></i>
                </button>
                <a href="{{ reset_filter_url }}"><button class="btn events-filter-btn events-filter-cancel-btn">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                </button></a>
            </form>
        </div>
    </div>
</div>
