{% load i18n %}
{% if is_assistant %}
    <div class="pull-right">
        <a class="pull-right prepare-csv-export" href="{{ export_url }}">
            <span class="glyphicon glyphicon-download-alt"></span>&nbsp;Экспортировать все
        </a>
        <select autocomplete="off" style="display: none" class="form-control export-format-selector pull-right">
            <option value="">{% trans "Выберите формат" %}</option>
            <option value="csv">{% trans "В формате CSV файла" %}</option>
            <option value="xls">{% trans "В формате XLS файла" %}</option>
        </select>
    </div>
{% endif %}
