{% load i18n %}
<form method="post" class="form hidden user-materials-form">
    <div class="row">
        {% csrf_token %}
        <input name="labs_result_id" type="hidden" value="{{ result.id }}">
        <div class="col-sm-12 col-md-3 mb-10">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home-{{ result.id }}" role="tab" aria-controls="v-pills-home" aria-selected="true">Файлы</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile-{{ result.id }}" role="tab" aria-controls="v-pills-profile" aria-selected="false">Ссылки</a>
            </div>
        </div>
        <div class="col-sm-12 col-md-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home-{{ result.id }}" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    {% if allow_file_upload %}
                        <label class="btn btn-block btn-file border label-overflow select-files-btn">
                            {% trans "Выбрать файлы" %}
                            <input type="file" multiple name="file_field" class="form-control hidden">
                        </label>
                    {% endif %}
                    <div><span class="file-name"></span></div>
                    <div class="uploads"></div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile-{{ result.id }}" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <input type="url" name="url_field" class="form-control full-width" id="url" placeholder="Укажите URL-ссылку на материал">
                </div>
                <div class="materials-form-comment-div">
                    <textarea maxlength="255" name="comment" class="form-control full-width mb-6" placeholder="Описание файлов"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <button name="add_btn" type="submit" class="btn btn-success btn-block add-material-btn" disabled="disabled">{% trans "Сохранить" %}</button>
        </div>
        <div class="col-sm-3">
            <span class="btn btn-danger btn-block hide-results-form-btn">{% trans "Отменить" %}</span>
        </div>
    </div>
</form>
