@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

footer {
  margin-top: 20px;
  padding: 20px 0;
}
header{
  margin-bottom: 20px;
}
nav.navbar
{
  padding-left: 0;
  padding-right: 0;
}

.form-inline
{
  button, input, label{
    &:not(:last-child){
      margin-right: 5px;
    }
  }
  label{
    display: inline-block !important;
  }
}

.margin-bottom
{
  margin-bottom: 20px;
}

.margin-top
{
  margin-top: 20px;
}

.navbar-brand
{
  img{
    height: 50px;
  }
}

.nowrap
{
  white-space: nowrap;
}

.uploads
{
  margin-top: 10px;
  .upload-row
  {
    margin: 5px 0;
  }
  .progress
  {
    max-width: 60%;
  }
}

#main-events-table
{
  .tr-with-materials
  {
    background-color: #A4EBB1;
  }
}

#event-users-table
{
  .tr-added-user
  {
    background-color: rgba(249, 238, 162, 0.7);
  }
  .tr-added-chatbot-user
  {
    background-color: rgba(186, 214, 141, 0.7);
  }
}

.materials-form-comment-div
{
  margin-top: 10px;

  input#description
  {
    width: 60%;
  }
}

.materials-form-no-files
{
  color: $red;
}

.file-comment-span
{
  margin: auto 10px;
}
