/* app */

footer {
    margin-top: 20px;
    padding: 20px 0;
}

header {
    margin-bottom: 20px;
}

nav.navbar {
    padding-left: 0;
    padding-right: 0;
}

.form-inline button:not(:last-child),
.form-inline input:not(:last-child),
.form-inline label:not(:last-child) {
    margin-right: 5px;
}

.form-inline label {
    display: inline-block !important;
}

.navbar-brand img {
    height: 50px;
}

.nowrap {
    white-space: nowrap;
}

.uploads {
    margin-top: 10px;
}

.uploads .upload-row {
    margin: 5px 0;
}

.uploads .progress {
    max-width: 60%;
}

#main-events-table .tr-with-materials {
    background-color: #A4EBB1;
}

#event-users-table .tr-added-user {
    background-color: rgba(249, 238, 162, 0.7);
}

#event-users-table .tr-added-chatbot-user {
    background-color: rgba(186, 214, 141, 0.7);
}

#event-users-table .event-participants-self td {
    border-bottom: solid #fff 5px;
}

.materials-form-comment-div {
    margin-top: 10px;
}

.materials-form-comment-div input#description {
    width: 60%;
}

.materials-form-no-files {
    color: #dc3545;
}

.file-comment-span {
    margin: auto 10px;
}

.confirmed-team-link {
    background-color: rgba(186, 214, 141, 0.7);
}

.confirm-material-btn,
.my-material-btn,
.transfer-material-btn {
    margin-right: 10px;
}

.assistant-team-link {
    background-color: rgba(249, 238, 162, 0.7);
}

/* common */

.overflow-scroll {
    overflow: scroll;
}

.overflow-scroll .table {
    margin-bottom: 0;
}

.full-width {
    width: 100%;
}

.hidden {
    display: none !important;
}

.mb-20 {
    margin-bottom: 20px;
}

.margin-left {
    margin-left: 10px;
}

.mb-6 {
    margin-bottom: 6px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-60 {
    margin-top: 60px;
}

.pt-5 {
    padding-top: 5px !important;
}

.pl-15 {
    padding-left: 15px;
}

/* index */

.activity-badge {
    background-color: #e52127;
    color: #ffffff;
    padding: 2px 5px 5px 8px;
    border-radius: 10px;
    cursor: default;
    display: inline-block;
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

.cancel-activity {
    cursor: pointer;
    margin: 0 0 0 5px;
}

/* activities */

.text-center {
    text-align: center;
}

/* events */

.item-margin {
    margin: 2px;
}

.table-item {
    padding: .25rem .75rem;
}

/* load user materials */

#results-jumper {
    margin-top: 60px;
}

.result-anchor-text {
    margin-bottom: 4px;
}

.result-entry {
    margin-top: 30px;
}

.no-left-padding {
    padding-left: 0;
}

.nav-link.active {
    background-color: #737373 !important;
}

/* create blocks */

.field-error {
    border-color: red;
}

.import-div {
    color: red;
    margin-top: 10px;
}

#open-import-popup {
    cursor: pointer;
}

.no-bullets {
    list-style-type: none;
}

.delete-formset-btn:first-of-type {
    display: none;
}

.delete-formset-btn {
    margin: auto 10px;
}

/* load materials */

.list-group-border {
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    margin: 10px 20px; 
}

.label-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
}

.edit-event-block-material {
    margin-right: 10px;
}

.btn-gray {
    background-color: #737373;
}

.material-event-block-wrapper {
    width: 100%;
}

.material-event-block-wrapper div.row {
    margin-right: 10px;
    margin-bottom: 15px;
}

.material-event-block-wrapper div.row:first-of-type {
    margin-top: 15px;
}

.collapse .select2-container {
    width: 100% !important;
}

.collapse .select2-container input.select2-search__field {
    width: 100% !important;
}

.collapse select.form-control {
    width: 100% !important;
}

.material-result-div--full {
    border: solid #ccc 1px;
    padding: 20px;
    margin-top: 20px;
}

.material-result-div--compact {
    margin-top: 20px;
}

.select-files-btn {
    background-color: #555 !important;
    max-width: 40%;
    color: white;
}

.load-results-btn--full {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.btn-transparent {
    background-color: rgba(0,0,0,0);
    border: none;
}

.btn-transparent:focus {
    outline: none;
}

.result-action-buttons {
    background-color: #ccc;
    padding: 5px;
    margin-right: 5px;
}

.font-red {
    color: red;
}

.user-photo-div {
    float: left;
    margin-right: 20px;
}

.width-80 {
    width: 80%;
}

.inline-divs-wrapper {
    display: flex;
    justify-content: space-between;
}

.event-sign-user {
    text-align: right;
}

@media screen and (max-width: 768px) {
    .inline-divs-wrapper {
        flex-direction: column;
    }
    .event-sign-user {
        text-align: left;
    }
}

.mr-10 {
    margin-right: 10px;
}

/* .create-team-btn {
    margin-top: -7px;
} */

.alert-default {
    text-align: center;
    background-color: #E9ECEF;
}

.index-statistics-block {
    margin: -10px auto 10px;
}

.artefact-item-wrapper {
    width: 300px;
    height: 200px;
    border: 2px solid #bbbbbb;
    display:table-cell;
	vertical-align:middle;
	text-align:center;
}

.artefact-preview {
    max-width:100%;
    max-height:100%;
    margin: auto auto;
}

.large-font {
    font-size: 4em;
}

.context-switching-select {
    margin-bottom: 5px;
    margin-left: 0px;
    max-width: 300px;
    text-overflow: ellipsis;
}

.export-results a, .export-results span {
    display: block !important;
}

.paginator-pages a, .paginator-pages span:not(:first-child) {
    margin: auto 3px;
}

.ml--15 {
    margin-left: -15px;
}

.event-upload-form .material-type-select {
    width: auto;
    min-width: 50%;
}

.navbar-red {
    color: #e52127 !important;
}

.navbar-full-menu {
    margin-left: 40px;
}

.navbar-grey {
    color: grey !important;
}

.navbar-user {
    padding: 0.25rem 0 0 0 !important;
}

.navbar-menu-icon {
    display: none;
}

.nav-logout-btn-container {
    float: right;
    margin-top: 5px;
}

.nav-leader-id-container {
    float: left;
}

.context-switcher-wrapper {
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .navbar-user {
        display: none;
    }
    .context-switching-select {
        margin-left: 0;
        max-width: 300px;
        text-overflow: ellipsis;
    }
    .context-switcher-wrapper {
        width: 100%;
        order: 3;
        margin-top: 10px;
    }
    .navbar-full-menu {
        display: none;
    }
    .navbar-menu-icon {
        display: inline;
        margin-left: 2em;
    }
    .big-icon {
        font-size: 40px;
    }
    .navbar-mobile-menu {
        position: absolute !important;
    }
    .md-hide {
        display: none;
    }
    .md-ml-auto {
        float: right;
    }
    .nav-leader-id-container {
        float: none;
    }
}

.navbar-leader-id {
    padding: 0 !important;
    background-color: #e52127;
    color: white !important;
    font-weight: bold;
    width: auto !important;
}

.badge-leader-id {
    color: #fff !important;
    background-color: grey;
    margin-top: 5px;
}

.padding-0 {
    padding: 0 !important;
}

.logout-link {
    margin-left: 10px;
}

.nav-user-image {
    margin-right: 20px;
    padding-top: 0.5rem;
    display: inline-block;
}

.nav-user-image img {
    border-radius: 50%;
    max-height: 40px;
    vertical-align: middle;
}

.navbar-expand-lg {
    display: flex;
    width: 100%;
}

.nav-row {
    flex-direction: row;
}

.btn-grey {
    background-color: #ccc;
    color: #000;
}

img.user-img {
    width: 50px;
    height: 50px;
}

.opacity-50 {
    opacity: 0.5;
}

.color-grey {
    color: grey;
}

.user-images-cell {
    display: inline-block;
}

.td-user-images {
    max-width: 180px;
}

.width-30 {
    width: 30px;
}

.width-70 {
    width: 70px;
}

.paginator-page {
    padding: 5px;
}

.paginator-page:hover {
    background-color: #ddd;
}

/* .events-date-choser {
    width: 190px !important;
    height: 38px;
}

.events-filter-btn {
    height: 38px;
} */

.events-filter-cancel-btn {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #ccc;
}

.export-format-selector {
    max-width: 250px;
}

.activity-filter-form {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.activity-filter-form .form-control {
    width: calc((100% - 105px)/3);
    margin-right: 5px;
}

.activity-filter-form .form-control,
.activity-filter-form .events-filter-btn {
    height: 38px;
}

.btn-red-border {
    border: 2px solid #dc3545;
}

.export-link {
    line-height: 38px;
}

@media screen and (max-width: 992px) {
    
    .activity-filter-form {
        flex-direction: column;
    }

    .activity-filter-form .form-control {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .export-link {
        float: none;
    }
}

.approve-result-block {
    margin-top: 10px;
}

.approve-result-block .approve-input-container label {
    margin-bottom: 0;
}

.approve-text-edit-input {
    min-width: 100%;
}

.approve-text-edit .btn {
    margin-top: 5px;
}

.start-change-circle-items, .change-circle-items, .cancel-change-circle-items {
    margin-left: 10px;
}

.change-circle-items, .cancel-change-circle-items, .upload-circle-items-wrapper {
    display: none;
}

.start-change-circle-items, .change-circle-items {
    color: #e52127;
    font-weight: bold;
}

.cancel-change-circle-items {
    color: grey;
    font-weight: bold;
}

.form-check {
    display: inline-block;
    padding-left: 0;
    margin-right: 15px;
}

.result-circle-items {
   -ms-transform: scale(1.3); /* IE */
  -moz-transform: scale(1.3); /* FF */
  -webkit-transform: scale(1.3); /* Safari and Chrome */
  -o-transform: scale(1.3); /* Opera */
  transform: scale(1.3);
  padding: 10px;
}

.result-circle-items-label {
    vertical-align: middle;
}

.upload-circle-items-wrapper {
    margin-bottom: 10px;
}

.result-selected-circle-items-div, .upload-circle-items-wrapper {
    line-height: 1;
}

.result-selected-circle-items-div {
    margin-left: 5px;
}

.circle-label {
    margin-right: 15px;
    vertical-align: top;
}

.mb-05rem {
    margin-bottom: .5rem;
}

.display-inline-block {
    display: inline-block;
}

.inline-user-item {
    display: inline-block;
}

#event_dtrace_filter_form .user-or-team-autocomplete-selector .select2-selection__rendered,
#formset-structure-edit .select2-selection__rendered {
    line-height: 100%;
}

.summary-content-short {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-box-orient: vertical;
   -webkit-line-clamp: 2; /* number of lines to show */
   line-height: 25px;        /* fallback */
   max-height: 50px;       /* fallback */
}

.result-individual-structure-item:not(:first-of-type) {
    border-top: 1px solid grey;
    margin-top: 15px;
}

#formset-structure-edit .delete-row {
    margin-left: 15px;
}

.has-error {
    color: #a94442;
}
