/* app */

footer {
    margin-top: 20px;
    padding: 20px 0;
}

header {
    margin-bottom: 20px;
}

nav.navbar {
    padding-left: 0;
    padding-right: 0;
}

.form-inline button:not(:last-child),
.form-inline input:not(:last-child),
.form-inline label:not(:last-child) {
    margin-right: 5px;
}

.form-inline label {
    display: inline-block !important;
}

.navbar-brand img {
    height: 50px;
}

.nowrap {
    white-space: nowrap;
}

.uploads {
    margin-top: 10px;
}

.uploads .upload-row {
    margin: 5px 0;
}

.uploads .progress {
    max-width: 60%;
}

#main-events-table .tr-with-materials {
    background-color: #A4EBB1;
}

#event-users-table .tr-added-user {
    background-color: rgba(249, 238, 162, 0.7);
}

#event-users-table .tr-added-chatbot-user {
    background-color: rgba(186, 214, 141, 0.7);
}

.materials-form-comment-div {
    margin-top: 10px;
}

.materials-form-comment-div input#description {
    width: 60%;
}

.materials-form-no-files {
    color: #dc3545;
}

.file-comment-span {
    margin: auto 10px;
}

.confirmed-team-link {
    background-color: rgba(186, 214, 141, 0.7);
}

.confirm-material-btn,
.my-material-btn,
.transfer-material-btn {
    margin-right: 10px;
}

.assistant-team-link {
    background-color: rgba(249, 238, 162, 0.7);
}

/* common */

.overflow-scroll {
    overflow: scroll;
}

.full-width {
    width: 100%;
}

.hidden {
    display: none !important;
}

.mb-20 {
    margin-bottom: 20px;
}

.margin-left {
    margin-left: 10px;
}

.mb-6 {
    margin-bottom: 6px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-60 {
    margin-top: 60px;
}

.pt-5 {
    padding-top: 5px !important;
}

.pl-15 {
    padding-left: 15px;
}

/* index */

.activity-badge {
    background-color: #e52127;
    color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    cursor: default;
}

.cancel-activity {
    cursor: pointer;
}

/* activities */

.text-center {
    text-align: center;
}

/* events */

.item-margin {
    margin: 2px;
}

.table-item {
    padding: .25rem .75rem;
}

/* load user materials */

#results-jumper {
    margin-top: 60px;
}

.result-anchor-text {
    margin-bottom: 4px;
}

.result-entry {
    margin-top: 30px;
}

.no-left-padding {
    padding-left: 0;
}

.nav-link.active {
    background-color: #737373 !important;
}

/* create blocks */

.field-error {
    border-color: red;
}

.import-div {
    color: red;
    margin-top: 10px;
}

#open-import-popup {
    cursor: pointer;
}

.no-bullets {
    list-style-type: none;
}

.delete-formset-btn:first-of-type {
    display: none;
}

.delete-formset-btn {
    margin: auto 10px;
}

/* load materials */

.list-group-border {
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    margin: 10px 20px; 
}

.label-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
}

.edit-event-block-material {
    margin-right: 10px;
}

.btn-gray {
    background-color: #737373;
}

.material-event-block-wrapper {
    width: 100%;
}

.material-event-block-wrapper div.row {
    margin-right: 10px;
    margin-bottom: 15px;
}

.material-event-block-wrapper div.row:first-of-type {
    margin-top: 15px;
}

.collapse .select2-container {
    width: 100% !important;
}

.collapse .select2-container input.select2-search__field {
    width: 100% !important;
}

.collapse select.form-control {
    width: 100% !important;
}