{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2>{{ event.title }}</h2>
            <div class="pull-right">
                <a href="{% url 'event-view' uid=event.uid %}">
                    <button class="btn btn-light">К странице мероприятия</button>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <h3>Структура мероприятия</h3>
    </div>
    <!-- TODO use margin intead of br --> <br>
    <div>
        <table class="table">
            {% for b in blocks %}
                <tr>
                    <td>{{ b.duration }}</td>
                    <td>{{ b.title }}</td>
                    <td>{{ b.get_block_type_display }}</td>
                    <td>
                        <form action="{% url 'delete-block' uid=event.uid block_id=b.id %}" method="post">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit">Удалить</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <form method="post" id="blocks-form">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="form-inline">
                <div>
                    <div class="row form-row spacer">
                        {% for field in form %}
                            {{ field|add_class:"form-control"|set_placeholder:field.label }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="row" class="mt-20">
            <button id="save-blocks" class="btn btn-danger" class="margin-left">Сохранить</button>
        </div>
    </form>

{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/libs/jquery.formset.js' %}"></script>
    <script src="{% static 'js/pages/blocks.js' %}"></script>
{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="{% static 'css/bootstrap-glyphicons.min.css' %}" rel="stylesheet">
{% endblock %}
