{% extends 'base.html' %}
{% load static %}

{% block title %}Создание команды{% endblock %}

{% block content %}
    <form method="post" id="team-form" class="form-inline">
        {% csrf_token %}
        <label>Название команды</label>
        <input type="text" name="name" class="form-control">
        <table class="table table-hover table-bordered table-striped mt-20">
            <thead class="thead-light">
                <tr>
                  <th scope="col">ФИО</th>
                  <th scope="col">Фото</th>
                  <th scope="col">Выбран</th>
                </tr>
            </thead>
            {% for student in students %}
            <tr>
                <td>{{ student.get_full_name }}</td>
                <td>{% if student.icon %}<img src="{{ student.icon.Small }}"/>{% endif %}</td>
                <td>
                    <input type="checkbox" name="users" value="{{ student.id }}">
                </td>
            </tr>
        {% endfor %}
        </table>
        <button class="btn btn-primary" id="submit" type="submit" disabled>Создать</button>
    </form>
    <a href="{% url 'event-view' uid=event.uid %}">
        <button class="btn btn-default mt-20">К странице мероприятия</button>
    </a>
{% endblock %}

{% block js %}
    {{ block.super }}
    <!-- event handlers of buttons are binded in js file below -->
    <script type="text/javascript" src="{% static 'js/pages/teams.js' %}"></script>
{% endblock %}
