{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-lg-9"><h2>{{ event.title }}</h2></div>
        <div class="col-lg-3"><h6>{{ event.get_authors|join:'<br>'|safe }}</h6></div>
    </div>
    <h6>
        {{ event.dt_start|date:'d E, H:i' }} - {{ event.dt_end|date:'H:i' }};&nbsp;
        ID: {{ event.ext_id }}, Run_ID: {{ event.data.run.ext_id }}, Activity_ID: {{ event.data.activity.ext_id }}
    </h6>
    {% csrf_token %}

     <nav class="nav nav-pills nav-justified">
        {% if request.user.is_assistant %}
            <button class="nav-item btn btn-primary" style="margin:2px" id="refresh" data-url="{% url 'refresh-event-view' uid=event.uid %}">Обновить данные</button>
            <button class="nav-item btn btn-primary" style="margin:2px" id="refresh-check-ins" data-url="{% url 'refresh-checkin-view' uid=event.uid %}">Обновить чекины</button>
            <a class="nav-item btn btn-primary" style="margin:2px" href="{% url 'create-team' uid=event.uid %}">Создание команды</a>
            <a class="nav-item btn btn-primary" style="margin:2px" href="{% url 'add-user' uid=event.uid %}">Добавить участника</a>
        {% endif %}
        <a class="nav-item btn btn-success" style="margin:2px" href="{% url 'load-event-materials' uid=event.uid %}">
            Материалы мероприятия{% if event.event_only_material_count %} ({{ event.event_only_material_count }}){% endif %}</a>
    </nav>
    <div class="row">
    <div class="col"><div style="overflow: scroll">
    <table id="event-users-table" class="table table-hover table-bordered table-striped">
        <thead class="thead-light">
            <tr>
                <th class="text-center align-middle" style="padding: .25rem .75rem;" scope="col">ФИО</th>
                <th class="text-center align-middle" style="padding: .25rem .75rem;" scope="col">Фото</th>
                <th class="text-center align-middle" style="padding: .25rem .75rem;" scope="col">Элементов следа</th>
                <th class="text-center align-middle" style="padding: .25rem .75rem;" scope="col">Чекин</th>
                <th class="text-center align-middle" style="padding: .25rem .75rem;" scope="col">Присутствие</th>
                <th class="text-center align-middle" style="padding: .25rem .75rem;" scope="col">Загрузка</th>
                {% if request.user.is_assistant %}
                    <th scope="col"></th>
                {% endif %}
            </tr>
        </thead>
        {% for student in students %}
            <tr {% if student.can_delete %}class="tr-added-user"{% elif student.added_by_chat_bot %}class="tr-added-chatbot-user"{% endif %}>
                <td class="align-middle" style="padding: .25rem .75rem;">
                    <a href="{% url 'load-materials' uid=event.uid unti_id=student.unti_id %}">{{ student.get_full_name }}</a>
                </td>
                <td class="text-center align-middle" style="padding: .25rem .75rem;">{% if student.icon %}<img src="{{ student.icon.Small }}"/>{% endif %}</td>
                <td class="text-center align-middle" style="padding: .25rem .75rem;">{{ student.materials_num }}</td>
                <td class="text-center align-middle" style="padding: .25rem .75rem;"><input type="checkbox" data-user="{{ student.id }}" class="check-in"
                           {% if student.checked_in %}checked{% endif %} disabled>
                </td>
                <td class="text-center align-middle" style="padding: .25rem .75rem;"><input type="checkbox" data-user="{{ student.id }}" class="attendance"
                           {% if student.attend %}checked {% endif %}
                           {% if not request.user.is_assistant %} disabled{% endif %}>
                </td>
                <td>
                    {% if event.is_active %}
                    {% if student.unti_id == request.user.unti_id or request.user.is_assistant %}
                    <a class="btn btn-primary btn-sm btn-block" href="{% url 'load-materials' uid=event.uid unti_id=student.unti_id %}">{% trans "Загрузить" %}</a>
                    {% endif %}
                    {% endif %}
                </td>
                {% if request.user.is_assistant %}
                    <td>
                        {% if student.can_delete %}
                            <button class="btn btn-danger btn-sm btn-delete-attendance" data-user-id="{{ student.id }}">
                                Удалить
                            </button>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    </div></div></div>
    {% if not students %}
	<div class="alert alert-danger" role="alert">
             Нет записей на данное мероприятие
	</div>
    {% endif %}

    {% if teams %}
        <h3>Команды</h3>
        <table class="table table-hover table-bordered table-striped">
            <thead class="thead-light">
                <tr>
                  <th scope="col">Название команды</th>
                  <th scope="col">Количество участников</th>
                  <th scope="col">Элементов следа</th>
                  <th scope="col">Загрузка</th>
                </tr>
            </thead>
            {% for team in teams %}
                <tr>
                    <td>
                        <a href="{% url 'load-team-materials' uid=event.uid team_id=team.id %}">{{ team.name }}</a>
                    </td>
                    <td>{{ team.users.count }}</td>
                    <td>{{ team.traces_number }}</td>
                    <td>
                        {% if event.is_active %}
                        {% if request.user.is_assistant or team.id == user_team %}
                        <a class="btn btn-primary btn-sm" href="{% url 'load-team-materials' uid=event.uid team_id=team.id %}">{% trans "Загрузить" %}</a>
                        {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {% if request.user.is_assistant %}
        {% include 'refresh_script.html' %}

    <script type="text/javascript">
        $(document).ready(function() {
            $('#refresh-check-ins').click(function(e) {
                e.preventDefault();
                var btn = $(this);
                btn.attr('disabled', 'disabled').prop('disabled', true);
                $.ajax({
                    url: btn.data('url'),
                    type: 'GET',
                    success: function(data) {
                        if (data.success) {
                            window.location.reload();
                        }
                    },
                    complete: function(xhr, status) {
                        btn.removeAttr('disabled', 'disabled').prop('disabled', false);
                    }
                })
            });

{#            $('input.check-in').change(function() {#}
{#                if (!this.checked) {#}
{#                    this.checked = !this.checked;#}
{#                    return;#}
{#                }#}
{#                var checked = this.checked;#}
{#                var box = this;#}
{#                var data = {csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(), user_id: $(this).data('user'), status: checked};#}
{#                $.ajax({#}
{#                    url: "{% url 'refresh-checkin-view' uid=event.uid %}",#}
{#                    method: 'POST',#}
{#                    data: data,#}
{#                    success: function(data) {#}
{#                        if (!data.success) {#}
{#                            box.checked = !checked;#}
{#                        }#}
{#                    },#}
{#                    error: function() {#}
{#                        alert('error');#}
{#                        box.checked = !checked;#}
{#                    }#}
{#                })#}
{#            });#}

            $('input.attendance').change(function() {
                var checked = this.checked;
                var box = this;
                var data = {csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(), user_id: $(this).data('user'), status: checked};
                $.ajax({
                    url: "{% url 'update-attendance-view' uid=event.uid %}",
                    method: 'POST',
                    data: data,
                    success: function(data) {
                        if (!data.success) {
                            box.checked = !checked;
                        }
                    },
                    error: function() {
                        alert('error');
                        box.checked = !checked;
                    }
                })
            });

            $('body').delegate('.btn-delete-attendance', 'click', function(e) {
                e.preventDefault();
                var data = {csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(), user_id: $(this).data('user-id')};
                $.ajax({
                    url: "{% url 'remove-user' uid=event.uid %}",
                    method: 'POST',
                    data: data,
                    success: function() {
                        window.location.reload();
                    },
                    error: function() {
                        alert('error');
                    }
                })
            });

        });
    </script>
    {% endif %}
{% endblock %}
