{% extends 'base.html' %}
{% load static i18n tz helpers %}

{% block title %}Страница мероприятия "{{ event.title }}"{% endblock %}

{% block content %}
    {% if is_assistant %}
        <div>
            <a href="{% url 'index' %}">Активности</a>
            &nbsp;/&nbsp;
            <a href="{% url 'events' %}?activity={{ event.activity_id }}">{{ event.activity.title|truncatechars:30 }}</a>
            &nbsp;/&nbsp;
            {% localtime off %}{{ event.get_dt_start|date:'d E H:i' }}{% endlocaltime %}
        </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-12">
            <h2>{{ event.title }}</h2>
        </div>
    </div>
    <div class="inline-divs-wrapper">
        <div>
            <div>
                <h6>{{ event.get_authors|join:', '|safe }}</h6>
            </div>
            <div>
                <h6>
                    {% localtime off %}{{ event.get_dt_start|date:'d E, H:i' }} - {{ event.get_dt_end|date:'H:i' }}{% endlocaltime %};
                </h6>
            </div>
            <div>
                {% if is_assistant %}
                <a href="{{ event.activity.get_labs_link }}">Открыть в LABS</a> <span class="text-muted">|</span> <a href="{{ event.get_xle_link }}">Открыть в расписании</a>
                {% else %}
                    <a href="{{ event.get_xle_link }}">Открыть в расписании</a>
                {% endif %}
            </div>
        </div>
        <div>
            {% url 'get_event_csv' uid=event.uid as export_url %}
            {% include 'includes/export_event_csv.html' %}
            <div class="clearfix"></div>
            <a class="nav-item btn btn-red-border mt-2" href="{% url 'load-event-materials' uid=event.uid %}">
                Материалы мероприятия</a>
        </div>
    </div>

    {% csrf_token %}

    {% if event_entry and not event_entry.approved %}
      <div class="approve-text d-none">
        <div class="alert alert-warning">
            Ваше присутствие на мероприятии не подтверждено!
            В окне ввода ниже укажите обстоятельства, подтверждающие что Вы присутствовали на мероприятии.
            Если у вас есть фотографии с мероприятия, которые могут это подтвердить - пожалуйста,
            загрузите их в качестве своего цифрового следа.
        </div>
        <div class="p-2">
            <textarea class="form-control" id="approve_text_data" rows="3">
                {{ event_entry.approve_text }}
            </textarea>
        </div>
        <div class="p-2">
            <button class="btn btn-outline-secondary approve-text-btn">Сохранить</button>
            <button class="btn btn-outline-secondary hide-text-btn pull-right">Скрыть</button>
        </div>
        <div class="clearfix"></div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col">
            <div class="inline-divs-wrapper mt-40">
                <div><h3>Цифровой след участников</h3></div>
                <div class="event-sign-user">
                {% if event_entry %}
                    <a class="btn btn-danger mb-2" href="{% url 'load-materials' uid=event.uid unti_id=request.user.unti_id %}">{% trans "Загрузить свой след" %}</a>
                {% else %}
                    <button class="btn btn-success self-enroll-btn mb-2">{% trans "Записаться на мероприятие" %}</button>
                {% endif %}
                {% if is_assistant %}
                    <a class="nav-item btn btn-warning mb-2" href="{% url 'add-user' uid=event.uid %}">
                        <span class="glyphicon glyphicon-plus mr-10"></span>
                        Добавить участника</a>
                {% endif %}
                </div>
            </div>
            <div class="overflow-scroll mt-40">
                <table id="event-users-table" class="table table-hover table-bordered table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th class="text-center align-middle table-item" scope="col">Фото</th>
                            <th class="text-center align-middle table-item" scope="col">ФИО</th>
                            <th class="text-center align-middle table-item" scope="col">Элементов следа</th>
                            <th class="text-center align-middle table-item" scope="col">Чекин</th>
                            <th class="text-center align-middle table-item" scope="col">Присутствие</th>
                            <th class="text-center align-middle table-item" scope="col">Результаты</th>
                            {% if is_assistant %}
                                <th scope="col"></th>
                            {% endif %}
                        </tr>
                    </thead>
                    {% for student in students %}
                        <tr class="{% if student.can_delete %}tr-added-user{% elif student.added_by_chat_bot %}tr-added-chatbot-user{% endif %} {% if forloop.counter == 1 and student == request.user %}event-participants-self{% endif %}">
                            <td class="text-center align-middle table-item">{% include 'includes/user_image.html' with u=student %}</td>
                            <td class="align-middle table-item">
                                <a href="{% url 'load-materials' uid=event.uid unti_id=student.unti_id %}">{{ student.get_full_name }}{% if student.id == request.user.id %} {% trans "(это вы)" %}{% endif %}</a>
                            </td>
                            <td class="text-center align-middle table-item">{{ student.materials_num }}</td>
                            <td class="text-center align-middle table-item"><input type="checkbox" data-user="{{ student.id }}" class="check-in"
                                    {% if student.checked_in %}checked{% endif %} disabled>
                            </td>
                            <td class="text-center align-middle table-item"><input type="checkbox" data-user="{{ student.id }}" class="attendance"
                                    {% if student.attend %}checked {% endif %}
                                    {% if not is_assistant %} disabled{% endif %}>
                            </td>
                            <td>
                                {% if event.is_active %}
                                {% if student.unti_id == request.user.unti_id or is_assistant %}
                                <a class="btn {% if student.id == request.user.id %}btn-danger{% else %}btn-primary{% endif %} btn-sm btn-block" href="{% url 'load-materials' uid=event.uid unti_id=student.unti_id %}">{% trans "Загрузить" %}</a>
                                {% endif %}
                                {% endif %}
                            </td>
                            {% if is_assistant %}
                                <td>
                                    {% if student.can_delete %}
                                        <button class="btn btn-danger btn-sm btn-delete-attendance" data-user-id="{{ student.id }}">
                                            Удалить
                                        </button>
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    {% if not students %}
	    <div class="alert alert-danger" role="alert">Нет записей на данное мероприятие</div>
    {% endif %}

    <div class="mt-40 inline-divs-wrapper" id="teams">
        <div>
            <h3>Цифровой след команд</h3>
        </div>
        <div>
            <a class="nav-item btn btn-warning create-team-btn mb-2" href="{% url 'create-team' uid=event.uid %}">
                <span class="glyphicon glyphicon-plus mr-10"></span>
                Создать команду</a>
        </div>
    </div>
    {% if teams %}
        <div class="overflow-scroll mt-20">
            <table class="table table-hover table-bordered">
                <thead class="thead-light">
                    <tr>
                      <th scope="col">Название</th>
                      <th scope="col" class="td-user-images">Фото</th>
                      <th scope="col">ФИО</th>
                      <th scope="col">Элементов следа</th>
                      <th scope="col">Действия</th>
                    </tr>
                </thead>
                {% for team in teams %}
                    <tr class="{% if team.confirmed and team.creator and not team.created_by_assistant %}confirmed-team-link{% elif team.confirmed %}assistant-team-link{% endif %}">
                        <td>
                            <a href="{% url 'load-team-materials' uid=event.uid team_id=team.id %}">{{ team.name }}</a>
                        </td>
                        <td class="td-user-images">
                            {% for u in team.users.all %}
                                <div class="user-images-cell">
                                    {% item_not_in_container u students as half_transparent %}
                                    {% include 'includes/user_image.html' %}
                                </div>
                            {% endfor %}
                        </td>
                        <td>
                            {% for u in team.users.all %}
                                {% item_not_in_container u students as half_transparent %}
                                <span {% if half_transparent %}class="color-grey"{%endif %}>{{ u.fio }}</span><br>
                            {% endfor %}
                        </td>
                        <td>{{ team.traces_number }}</td>
                        <td>
                            {% if event.is_active %}
                                {% if is_assistant or team.id in user_teams %}
                                    <a class="btn btn-primary btn-sm" href="{% url 'load-team-materials' uid=event.uid team_id=team.id %}">{% trans "Загрузить" %}</a>
                                {% endif %}
                            {% endif %}
                            {% if team|user_can_edit_team:request.user %}
                                <a class="btn btn-grey" href="{% url 'edit-team' uid=event.uid team_id=team.id %}">
                                    <i class="glyphicon glyphicon-pencil" title="{% blocktrans %}Редактировать{% endblocktrans %}"></i>
                                </a>
                            {% endif %}
                            {% if team.id in teams_allowed_to_delete %}
                                <btn class="btn btn-danger delete-team-btn" data-action-url="{% url 'delete-team' uid=event.uid team_id=team.id %}">
                                    <i class="glyphicon glyphicon-remove" title="{% blocktrans %}Удалить{% endblocktrans %}"></i>
                                </btn>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <div class="alert alert-default">Ни одной команды еще не создано</div>
    {% endif %}
{% endblock %}

{% block js %}
    {{ block.super }}  
    <script type="text/javascript">
        const isAssistant = eval("{{ is_assistant|lower }}");
        const updateAttendanceViewUrl = "{% url 'update-attendance-view' uid=event.uid %}";
        const removeUserUrl = "{% url 'remove-user' uid=event.uid %}";
        const approveTextEdit = "{% url 'approve-text-edit' event_entry_id=event_entry_id %}"
        const csrfmiddlewaretoken = $('input[name=csrfmiddlewaretoken]').val();
        const enrollUrl = "{% url 'event-self-enroll' uid=event.uid %}";
    </script>
    <!-- event handlers of buttons are binded in js file below -->
    <script type="text/javascript" src="{% static 'js/pages/events.js' %}"></script>
{% endblock %}