{% extends 'base.html' %}
{% block content %}
    {% if request.user.is_assistant %}
        <button class="btn btn-info margin-bottom" id="refresh" data-url="{% url 'refresh-view' %}">Обновить данные</button>
    {% endif %}
    <form class="form-inline">
        <label>Дата</label>
        <input type="date" id="choose-date" class="form-control">
        <button class="btn btn-primary" id="btn-date-refresh">Фильтровать</button>
    </form>
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Название мероприятия</th>
                <th>Дата и время начала</th>
                <th>Дата и время окончания</th>
                {% if request.user.is_assistant %}
                    <th>Количество участников</th>
                {% endif %}
            </tr>
        </thead>
        {% for event in objects %}
            <tr>
                <td>{{ event.id }}</td>
                <td>
                    <a
                        {% if request.user.is_assistant %}
                            href="{% url 'event-view' uid=event.uid %}"
                        {% else %}
                            href="{% url 'load-materials' uid=event.uid unti_id=request.user.unti_id %}"
                        {% endif %}
                    >{{ event.title }}</a>
                </td>
                <td>
                    <span class="nowrap">{{ event.dt_start|date:"d E, H:i" }}</span>
                </td>
                <td>
                    <span class="nowrap">{{ event.dt_end|date:"d E, H:i" }}</span>
                </td>
                {% if request.user.is_assistant %}
                    <td class="text-center">{{ event.entry_count }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block js %}
    {{ block.super }}
    {% if request.user.is_assistant %}
        {% include 'refresh_script.html' %}
    {% endif %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#choose-date').val('{{ date }}');

            $('#btn-date-refresh').click(function(e) {
                e.preventDefault();
                var url = window.location.protocol + '//' + window.location.host + '?date=' + $('#choose-date').val();
                window.location.replace(url);
            })
        })
    </script>
{% endblock %}
