{% extends 'base.html' %}

{% block content %}
    {% if request.user.is_assistant %}
        <button class="btn btn-primary" id="refresh" data-url="{% url 'refresh-view' %}">Обновить данные</button>
    {% endif %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
              <th scope="col">Название мероприятия</th>
              <th scope="col">Дата и время начала</th>
              <th scope="col">Дата и время окончания</th>
            </tr>
        </thead>
        {% for event in objects %}
            <tr>
                <td>
                    <a
                        {% if request.user.is_assistant %}
                            href="{% url 'event-view' uid=event.uid %}"
                        {% else %}
                            href="{% url 'load-materials' uid=event.uid unti_id=request.user.unti_id %}"
                        {% endif %}
                    >{{ event.title }}</a>
                </td>
                <td>{{ event.dt_start|date:"d.m.Y (H:i)" }}</td>
                <td>{{ event.dt_end|date:"d.m.Y (H:i)" }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block js %}
    {{ block.super }}
    {% if request.user.is_assistant %}
        {% include 'refresh_script.html' %}
    {% endif %}
{% endblock %}
