{% extends 'base.html' %}
{% load i18n static %}

{% block content %}
    <h2> {{ event.title }} </h2>
    {% if team_upload %}
        <h4> Команда: '{{ team_name }}' </h4>
        <table class="table table-hover table-bordered table-striped margin-top">
            <thead class="thead-light">
                <tr>
                  <th scope="col">ФИО</th>
                  <th scope="col">Фото</th>
                  <th scope="col">Количество загруженных файлов</th>
                  <th scope="col">Загрузка</th>
                </tr>
            </thead>
            {% for student in students %}
                <tr>
                    <td>{{ student.get_full_name }}</td>
                    <td>{% if student.icon %}<img src="{{ student.icon.Small }}"/>{% endif %}</td>
                    <td>{{ student.materials_num }}</td>
                    <td>
                        {% if event.is_active %}
                        <a class="btn btn-primary btn-sm" href="{% url 'load-materials' uid=event.uid unti_id=student.unti_id %}">{% trans "Загрузить" %}</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
    {% for trace in traces %}
        <h2>{{ trace.trace.name }}</h2>
        <form method="post" class="trace-form">
            {% csrf_token %}
            <input name="trace_name" type="hidden" value="{{ trace.trace.id }}">
            <ul class="list-group list-group-flush">
                {% for link in trace.links %}
                    <li class="list-group-item">
                        <a href="{{ link.get_url }}">{{ link.get_name }}</a>&nbsp;
                        <button name="material_id" value="{{ link.id }}" class="btn btn-warning btn-sm pull-right delete-material-btn">
                            {% blocktrans %}Удалить{% endblocktrans %}
                        </button>
                    </li>
                {% endfor %}
                <li class="list-group-item form-inline">
                    {% if allow_file_upload %}
                        {% trans "Файл" %}
                        <label class="btn btn-default btn-file border">
                            {% trans "Выбрать" %}
                            <input type="file" name="file_field" style="display: none;" class="form-control">
                        </label>
                    {% endif %}
                    <label for="url">{% trans "URL: (если не загружаете файл)" %}</label>
                    <input type="url" name="url_field" class="form-control" id="url">
                    {% if with_comment_input %}
                        <label for="description">Описание</label>
                        <input id="description" maxlength="255" name="comment" class="form-control">
                    {% endif %}
                        <button name="add_btn" type="submit" class="btn btn-primary add-material-btn" disabled="disabled">{% trans "Добавить" %}</button>
                    <div><span class="file-name"></span></div>
                    <div class="uploads">
                    </div>
                </li>
            </ul>
        </form>
    {% endfor %}
    <button class="btn btn-default margin-top" onclick="window.history.back()">
        {% blocktrans %}Назад{% endblocktrans %}
    </button>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        MAX_SIZE = {{ max_size }};
        MAX_PARALLEL_UPLOADS = {{ max_uploads }};
    </script>
    <script type="text/javascript" src="{% static 'js/jquery.are-you-sure.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/file-upload.min.js' %}"></script>
{% endblock %}
