{% extends 'base.html' %}
{% load i18n static %}

{% block content %}
    <h2> {{ event.title }} </h2>
    <a href="{% url 'event-view' uid=event.uid %}">
        <button class="btn btn-light float-right">К странице мероприятия</button>
    </a>
    <h4>{% block page_title %}Индивидуальные результаты: {{ user.fio }}{% endblock %}</h4>
    {% csrf_token %}
    <div class="clearfix"></div>
    <form id="result_form" method="post" action="{% block result_url %}{% url 'create-user-result' uid=event.uid unti_id=user.unti_id %}{% endblock %}" class="form">
        {% csrf_token %}
        <input type="hidden" name="result_id">
        {% block form_render %}
            {% for field in result_form %}
                {% if field.hidden %}
                    {{ field }}
                {% else %}
                    <div class="form-group {% if field.name == 'result_type' or field.name == 'rating' %}col-sm-6 no-left-padding{% endif %}">
                        {{ field|add_class:'form-control'|set_placeholder:field.label }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endblock %}

        <div class="row mt-10">
            <div class="col-sm-12 col-md-3 mb-10">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home-{{ trace.trace.id }}" role="tab" aria-controls="v-pills-home" aria-selected="true">Файлы подтверждения</a>
                    <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile-{{ trace.trace.id }}" role="tab" aria-controls="v-pills-profile" aria-selected="false">Ссылки подтверждения</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-9">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home-{{ trace.trace.id }}" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        {% if allow_file_upload %}
                            <label class="btn btn-block btn-success btn-file border label-overflow">
                                {% trans "Выберите файлы для загрузки" %}
                                <input type="file" multiple name="file_field" class="form-control hidden">
                            </label>
                        {% endif %}
                        <div>
                            <span class="file-name"></span>
                        </div>
                        <div class="uploads"></div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-profile-{{ trace.trace.id }}" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <input type="url" name="url_field" class="form-control full-width" id="url" placeholder="Укажите URL-ссылку на материал">
                    </div>
                    <div class="materials-form-comment-div">
                        <textarea id="description" maxlength="255" name="comment" class="form-control mb-6 full-width" placeholder="Описание файлов"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <button name="add_btn" type="submit" class="btn btn-primary btn-block save-result-btn">Сохранить результат</button>
            </div>
        </div>
    </form>

    <div id="results-jumper">
        <h4>Загруженные результаты</h4>
        {% if not results %}
            <div id="no-loaded-results"><p>Нет загруженных результатов</p></div>
        {% endif %}
        {% for result in results %}
            <p class="result-anchor-text" data-result="{{ result.result.id }}">{{ forloop.counter }} - {{ result.result.get_result_type_display|default:'' }} - {{ result.result.get_rating_display|default:'' }} - <a href="#result-entry-{{ forloop.counter }}">подробнее</a></p>
        {% endfor %}
    </div>

    <div id="results">
        {% for result in results %}
            <div class="result-wrapper-div" data-result="{{ result.result.id }}">
                <h5 class="result-entry" id="result-entry-{{ forloop.counter }}">Результат {{ forloop.counter }}</h5>
                <div class="row result-annotation">
                    <div class="col-lg-10">
                        <p class="text-muted">Тип: {{ result.result.get_result_type_display|default:'' }}. Оценка: {{ result.result.get_rating_display|default:'' }}</p>
                        <p class="text-muted">Компетенции: {{ result.result.competences }}</p>
                        {% if team_upload %}
                            <p class="text-muted">Групповая динамика: {{ result.result.group_dynamics }}</p>
                        {% endif %}
                        <p class="text-muted">Комментарий: {{ result.result.result_comment }}</p>
                    </div>
                    <div class="col-lg-2">
                        <button class="btn btn-danger edit-result" data-result="{{ result.result.to_json }}">Отредактировать</button>
                    </div>
                </div>
                <div data-result="{{ result.result.id }}">
                    <ul id="trace-ul" class="list-group list-group-flush">
                        {% for link in result.links %}
                            <li class="list-group-item {% if link.confirmed and team_upload and not link.initiator_user.is_assistant %}confirmed-team-link{% elif team_upload and link.initiator_user.is_assistant %}assistant-team-link{% endif %}">
                                <a class="link_preview" href="{{ link.get_url }}" {{ link.render_metadata }}>{{ link.get_name }}</a>&nbsp;
                                {% if can_set_public %}
                                    <label>Публичный
                                        <input type="checkbox" data-link-id="{{ link.id }}" class="upload_is_public" {% if link.is_public %}checked{% endif %}>
                                    </label>
                                {% endif %}
                                {% if can_upload %}
                                    <button name="material_id" value="{{ link.id }}" class="btn btn-warning btn-sm pull-right delete-material-btn">
                                        {% blocktrans %}Удалить{% endblocktrans %}
                                    </button>
                                {% if show_owners and not request.user.is_assistant %}
                                    <button value="{{ link.id }}" class="btn {% if link.is_owner %}btn-danger{% else %}btn-success{% endif %} btn-sm pull-right my-material-btn" data-url="{{ link.ownership_url }}" {% if link.is_owner %}data-owner=""{% endif %}>
                                        {% if link.is_owner %}Это не мое{% else %}Это мое{% endif %}
                                    </button>
                                {% endif %}
                                {% if link.initiator_user and team_upload %}<div>({{ link.initiator_user.fio }})</div>{% endif %}
                                    <div><span>{{ link.comment }}</span></div>
                                {% endif %}
                                {% if show_owners and not request.user.is_assistant and not can_upload %}
                                    <button value="{{ link.id }}" class="btn {% if link.is_owner %}btn-danger{% else %}btn-success{% endif %} btn-sm pull-right my-material-btn" data-url="{{ link.ownership_url }}" {% if link.is_owner %}data-owner=""{% endif %}>
                                        {% if link.is_owner %}Это не мое{% else %}Это мое{% endif %}
                                    </button>
                                {% endif %}
                                {% if show_owners %}<div><span class="material-owners">{% if link.get_owners %}Связан с: {% endif %}{{ link.get_owners|join:', ' }}</span></div>{% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>

    <h4 class="mt-60">Отдельные файлы</h4>

    {% if not links and not other_materials %}
        <div><p>Нет загруженных файлов</p></div>
    {% endif %}

    <ul class="list-group list-group-flush">
        {% for link in links %}
            <li class="list-group-item {% if link.confirmed and team_upload and not link.initiator_user.is_assistant %}confirmed-team-link{% elif team_upload and link.initiator_user.is_assistant %}assistant-team-link{% endif %}">
                <a href="{{ link.get_url }}" {{ link.render_metadata }}>{{ link.get_name }}</a>&nbsp;
                {% if can_set_public %}
                    <label>Публичный
                    <input type="checkbox" data-link-id="{{ link.id }}" class="upload_is_public"  {% if link.is_public %}checked{% endif %}>
                    </label>
                {% endif %}
                {% if can_upload %}
                <button name="material_id" value="{{ link.id }}" class="btn btn-warning btn-sm pull-right delete-material-btn">
                    {% blocktrans %}Удалить{% endblocktrans %}
                </button>
                {% if request.user.is_assistant %}
                    <button value="{{ link.id }}" class="btn btn-danger btn-sm pull-right transfer-material-btn">
                        Переместить
                    </button>
                {% endif %}
                {% if team_upload and request.user.is_assistant and not link.confirmed %}
                    <button value="{{ link.id }}" class="btn btn-success btn-sm pull-right confirm-material-btn">
                        {% blocktrans %}Подтвердить{% endblocktrans %}
                    </button>
                {% endif %}
                {% if show_owners and not request.user.is_assistant %}
                    <button value="{{ link.id }}" class="btn {% if link.is_owner %}btn-danger{% else %}btn-success{% endif %} btn-sm pull-right my-material-btn" data-url="{{ link.ownership_url }}" {% if link.is_owner %}data-owner=""{% endif %}>
                        {% if link.is_owner %}Это не мое{% else %}Это мое{% endif %}
                    </button>
                {% endif %}
                {% if link.initiator_user and team_upload %}<div>({{ link.initiator_user.fio }})</div>{% endif %}
                <div><span>{{ link.comment }}</span></div>
                {% endif %}
                {% if show_owners and not request.user.is_assistant and not can_upload %}
                    <button value="{{ link.id }}" class="btn {% if link.is_owner %}btn-danger{% else %}btn-success{% endif %} btn-sm pull-right my-material-btn" data-url="{{ link.ownership_url }}" {% if link.is_owner %}data-owner=""{% endif %}>
                        {% if link.is_owner %}Это не мое{% else %}Это мое{% endif %}
                    </button>
                {% endif %}
                {% if show_owners %}<div><span class="material-owners">{% if link.get_owners %}Связан с: {% endif %}{{ link.get_owners|join:', ' }}</span></div>{% endif %}
            </li>
        {% endfor %}
        {% for link in other_materials %}
            <li class="list-group-item">
                <a class="link_preview" href="{{ link.get_url }}" {{ link.render_metadata }}>{{ link.get_name }}</a>&nbsp;
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'event-view' uid=event.uid %}">
        <button class="btn btn-light margin-top">К странице мероприятия</button>
    </a>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        const pageType = "loadUserMaterials";
        const isAssistant = eval("{{ request.user.is_assistant|lower }}");
        const eventUpload = eval("{{ event_upload|lower }}");
        const teamUpload = eval("{{ team_upload|lower }}");
        const fromUser = eval("{{ user_upload|lower }}");
        const canUpload = eval("{{ can_upload|lower }}");
        const csrfmiddlewaretoken = $('[name=csrfmiddlewaretoken]').val();
        const transferUrl = "{% url 'transfer' uid=event.uid %}";
        const confirmTeamUpload = "{% url 'confirm-team-material' uid=event.uid team_id=team.id %}";
        if (canUpload) {
            const maxSize = parseInt("{{ max_size }}");
            const maxParallelUploads = parseInt("{{ max_uploads }}");
            const changeState = "{% url 'is-material-public' uid=event.uid %}";
            const formsetRenderUrl = "{% block formset_render_url %}{% endblock %}";
        }
    </script>
    {% if can_upload %}
        <script type="text/javascript" src="{% static 'js/libs/jquery.are-you-sure.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/upload.js' %}"></script>
    {% endif %}
    <!-- event handlers of buttons are binded in js file below -->
    <script type="text/javascript" src="{% static 'js/pages/materials.js' %}"></script>
    {% include "includes/_link_preview.html" %}
{% endblock %}

{% block footer %}
    {{ result_form.media }}
{% endblock %}
