{% extends 'base.html' %} 
{% block content %}
<div class="card-header text-center">
    Цифровой след — это массив данных о результатах образовательной и проектной деятельностях. Любые материалы, которые создают
    участники («дорожные карты», презентации, прототипы, аудио и видеозаписи), остаются в хранилище цифрового следа.
    <br> В этой системе Вы можете загрузить цифровой след для себя и других участников.
</div>
<div class="card-body text-center">
    <a href="/login/unti/?next={{ next }}">
        <button class="btn btn-primary"> Войти </button>
    </a>
</div>
{% endblock %}