<script type="text/javascript">
    $(document).ready(function() {
        $('#refresh').click(function(e) {
            e.preventDefault();
            var btn = $(this);
            btn.attr('disabled', 'disabled').prop('disabled', true);
            $.ajax({
                url: btn.data('url'),
                type: 'GET',
                success: function(data) {
                    if (data.success) {
                        window.location.reload();
                    }
                },
                complete: function(xhr, status) {
                    btn.removeAttr('disabled', 'disabled').prop('disabled', false);
                }
            })
        })
    });
</script>
